body {
  width: 960px;
  margin: 20px auto;
}

header {
  border-bottom: 1px solid gray;
  padding: 8px 0 8px 0;
}

nav {
  height: 100%;
  width: 6cm;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(87, 2, 90);
  overflow-x: hidden;
  padding-top: 60px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


nav a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-style: normal;
}
nav li {
  list-style: none;
}

a {
  margin-right: 6px;
}

section {
  display: inline-block;
  width: 600px;
  padding: 0 8px 0 0;
  border-right: 1px solid gray;
  margin-bottom: 8px;
}

aside {
  display: inline-block;
  width: 550px;
  vertical-align: top;
  margin-left: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.even{
    background: #dfe2ef;
   
}